//  ================================================
//  Main
//  ================================================


//  ------------------------------------------------
//  What du you need?
//  ------------------------------------------------

// alignment classes needed? (e.g. is--left, is--center)
$has-alignment: true;


//  ------------------------------------------------
//  Setup
//  ------------------------------------------------

// Media queries
$mq-mini: 480;
$mq-mobile: 700;
$mq-tablet: 900;
$mq-desktop: 1210;


// all Container width
$container-width: (
    desktop: 94%,
    tablet: 96%,
    mobile: 100%
);

$container-sizes: (
    default: (
        desktop: 1200,
        tablet: 1000,
        mobile: 500
    ),
    small: (
        desktop: 1000,
        tablet: 1000,
        mobile: 500
    ),
    wide: (
        desktop: 200,
        tablet: 1000,
        mobile: 500
    )
);