//  ================================================
//  Main
//  ================================================


//  ------------------------------------------------
//  What du you need?
//  ------------------------------------------------

// alignment classes needed? (e.g. is--left, is--center)
// @ core/helper/_alignment.scss
$has-alignment: true;

// grid needed? (.grid)
// @ page/base/_grid.scss
$has-grid: true;

//  ------------------------------------------------
//  Setup
//  ------------------------------------------------

// Media queries
$mq-mini: 480;
$mq-mobile: 700;
$mq-tablet: 900;
$mq-desktop: 1210;


// all Container width
$container-width: (
    desktop: 94%,
    tablet: 96%,
    mobile: 100%
);

$container-sizes: (
    default: (
        desktop: 1200,
        tablet: 1000,
        mobile: 600
    ),
    small: (
        desktop: 850,
        //tablet: 600,
        //mobile: 500
    ),
    wide: (
        desktop: 1600,
        //tablet: 1000,
        //mobile: 600
    )
);