//  ================================================
//  Mixins
//  ================================================


// Deprecated, outsource



@mixin circle($value, $display: inline-block) {
    display: $display;
    width: $value;
    height: $value;
    border-radius: 100%;
}


@mixin calc($value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        width: #{$prefix}calc(#{$value});
    }
}

