//  ================================================
//  Typography
//  ================================================


//  ------------------------------------------------
//  Font-face
//  ------------------------------------------------

//@include font-face(Avenir, 'avenir-light', $weight: 100);



/*
    Information: only general font-styles
*/

//  ------------------------------------------------
//  Body
//  ------------------------------------------------

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: $body;
}


//  ------------------------------------------------
//  Headlines
//  ------------------------------------------------

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1, .primary-title {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}